* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --board-width: 400px;
}

body {
  background-color: #e0e1dd;
}

.title,
.final-results {
  color: #1b263b;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 50px auto;
  width: var(--board-width);
}

.game-container {
  text-align: center;
  font-family: "Play", sans-serif;
  margin: 30px;
}

.cell {
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: calc(var(--board-width) / 3);
  height: calc(var(--board-width) / 3);
  font-size: calc(var(--board-width) / 4);
  cursor: pointer;
}

.reset {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #ccc;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.reset:hover {
  background-color: black;
  color: #ccc;
}

.final-results {
  margin-bottom: 50px;
}
